# 📥 Step 2: Load the Dataset

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\snyad\project\HousePricePrediction\data\train.csv")
df.head()
# print(df.shape)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# 🧹 Step 3: Clean the Data
# 1. Check for Missing Values

In [7]:
# Summary of missing values
missing = df.isnull().sum()
missing[missing > 0].sort_values(ascending=False)

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
MasVnrType       872
FireplaceQu      690
LotFrontage      259
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtFinType2      38
BsmtExposure      38
BsmtFinType1      37
BsmtCond          37
BsmtQual          37
MasVnrArea         8
Electrical         1
dtype: int64

# 2. Drop Columns with Too Many Nulls

In [37]:
null_percentage = df.isnull().mean()
df = df.drop(columns=null_percentage[null_percentage > 0.5].index)

# 3. Fill Missing Values

In [38]:
# Fill numerical columns with median
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Fill categorical columns with mode
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

# 4. Verify

In [39]:
df.isnull().sum()   # Should be 0 now

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

#🔍 Step 3: Understand Data Types and Stats¶

In [20]:
pip install sqlalchemy pymysql mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\snyad\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: pymysql in c:\users\snyad\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: mysql-connector-python in c:\users\snyad\anaconda3\lib\site-packages (9.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\snyad\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\snyad\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [40]:
print(df.shape)

(1460, 76)

# 🔌 Step 4: Connect Python to MySQL using SQLAlchemy

In [29]:
from sqlalchemy import create_engine

# Replace with your actual MySQL credentials
username = 'root'
password = '8005130826'
host = 'localhost'
database = 'house_price'

# Create the connection string
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

In [30]:
# This should run without errors if connection is successful
engine.connect()
print("✅ Connected to MySQL successfully!")

✅ Connected to MySQL successfully!

# 📤 Step 5: Push Data to MySQL Using to_sql()

In [32]:
df.to_sql(name='house_data', con=engine, if_exists='replace', index=False)

print("✅ Data pushed to MySQL table 'house_data'")

✅ Data pushed to MySQL table 'house_data'

In [41]:
# Check nulls before pushing to MySQL
print(df.isnull().sum())
df.head()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [42]:
df.to_sql(name='house_data', con=engine, if_exists='replace', index=False)

1460

# Save Cleaned Data to CSV

In [43]:
# Save the cleaned data to a CSV file
df.to_csv('cleaned_house_data.csv', index=False)

print("✅ Cleaned data saved as 'cleaned_house_data.csv'")

✅ Cleaned data saved as 'cleaned_house_data.csv'